<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.dao.shopping_carMapper">
    <select id="getuserdetail" parameterType="string" resultType="car">
         select * from shopping_car where userid=#{userid}
    </select>

    <update id="updateuserdetail" parameterType="Map">
        update shopping_car set book_nums=#{book_nums}
        where userid=#{userid} and book_name=#{book_name}
    </update>
    <delete id="deluserdetail" parameterType="car">
        delete from shopping_car where userid=#{userid} and book_name=#{book_name}
    </delete>
    <delete id="deluserbook" parameterType="Map">
        delete from shopping_car where userid=#{userid} and book_name=#{book_name}
    </delete>
    <delete id="delusercar" parameterType="string">
        delete from shopping_car where userid=#{userid}
    </delete>
</mapper>