<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.dao.shopping_addressMapper">
    <select id="selectcurrentaddress" parameterType="Map" resultType="shopping_address">
        select * from shopping_address where userid=#{userid} and sigin="1" ORDER BY RAND() LIMIT 1
    </select>
    <insert id="add_address" parameterType="shopping_address">
        insert into
        shopping_address(userid,shoppinger,shopping_address,phone,sigin)
        values(#{userid},#{shoppinger},#{shopping_address},#{phone},#{sigin})
    </insert>
    <delete id="del_address" parameterType="shopping_address">
        delete from shopping_address
        where
        userid=#{userid} and shoppinger=#{shoppinger} and shopping_address=#{shopping_address} and phone=#{phone}
    </delete>
    <delete id="deluseraddress" parameterType="string">
        delete from shopping_address where userid=#{userid}
    </delete>

</mapper>